// TODO: Should be removed step by step and
// replaced by $font
$content-font:"skolar-sans-latin", sans-serif;
$headline-font:"skolar-sans-latin",sans-serif;

$font: "skolar-sans-latin", sans-serif;
$font-size: 18px;
