.author-wrapper {
	background-color: $mid-grey;
}

.author-info {
	max-width: 600px;
	margin: 0 auto;
	font-family: $headline-font;
	color: $black;
	line-height: 1.4em;
	padding: 20px;
	padding-bottom: 60px;

	h3 {
		font-size: 1.4em;
		font-family: $headline-font;
		padding-bottom: 10px;
	}

	img {
		float:left;
		max-width: 20%;
		padding-top: 40px;
	}
	
	.author-text {
		float:right;
		max-width: 80%;
		padding-left: 20px;
		padding-top: 40px;
	}
}

.connect {
	max-width: 600px;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;


	a {
		color: $grey;
		text-decoration: none;
		font-size: 1.5em;
		text-align: center;
		margin-left: 40px;
		
		&:first-child {
			margin-left: 0;
		}

		&:hover {
			color: $dark-grey;
		}
	}
}

.twitter {
	float: left;
}

.mail {
	float: left;
}

