body {
	background-color: $white;
	font-family: $content-font;
	font-size: $font-size;
}

h1 {
	text-transform: uppercase;
	font-family: $headline-font;
	font-weight: 700;
	font-size: 1.4em;

	a {
		text-decoration: none;
		color: $black;
	}
}
