.comments {
	max-width: 600px;
	margin: 0 auto;
	padding-top: 60px;
	line-height: 1.6em;

	h3 {
		font-size: 1.4em;
		padding-bottom: 20px;
		font-family: $headline-font;
	}

	p {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.fields {
		width: auto;
		padding-bottom: 20px;

		input {
			width: 31.5%;
			margin-right: 10px;
			height: 30px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.comment-form {
		font-size: .8em;
	}

	textarea {
		width: 596px;
		min-height: 150px;
	}

	button {
		border-radius: 0px;
		border: 0px;
		background-color: $dark-blue;
		color: $white;
		padding: 10px;
		margin-top: 20px;
	}

	.comment-reply-title {
		font-size: 1em;
		padding-bottom: 0;
	}
	
	.comment-body {
		font-size: .9em;
		margin-bottom: 50px;
		padding: 20px;
		background-color: $light-grey;

		.reply {
			display: none;

		}

		&:hover {
			.reply {
				/* Disabled until reply system is implemented */
				display: none;
			}
		}

		.comment-reply-link {
			text-decoration: none;
			background-color: $mid-grey;
			padding: 10px;
			color: $black;
			font-size: .9em;
		}
	}

	.comment-meta {
		font-size: .8em;

		a {
			color: $dark-grey;
			text-decoration: none;
		}

		.comment-edit-link {
				text-decoration: underline;
			}
	}
}