article {
	max-width: 700px;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 100px;
}

h2 {
	font-family: $headline-font;
	font-size: 2em;
	line-height: 1.4em;
	font-weight: 400;
	display: block;
	max-width: 600px;
	margin: 0 auto;

	a {
		color: $dark-blue;
		text-decoration: none;

		&:hover {
			color: $black;
		}
	}
}

.linked-list-item {
	line-height: 1.4em;
	font-size: 1.2em;

	a {
		color: $black;
		background-color: transparent;
		padding: 0;
		text-decoration: none;

		&:hover {
			color: $dark-blue;
			background-color: transparent;
			text-decoration: underline;
		}
	}
}


.post-content {
	margin-top: 30px;
  line-height: 1.7em;
  font-weight: 300;
	color: $black;

	p {	
		max-width: 600px;
		margin: 0 auto;
		padding-bottom: 1.8em;
	}

	img {
		max-width: 700px;
		width: 100%;
		padding-bottom: 1.8em;
	}

	ul {
		max-width: 600px;
		margin: 0 auto;
		padding-left: 50px;
		padding-bottom: 1.8em;
		list-style-type: disc;
	}

	ol {
		max-width: 600px;
		margin: 0 auto;
		padding-left: 50px;
		padding-bottom: 1.8em;
		list-style-type: decimal;
	}

	a {
		color: $dark-blue;
	}

	blockquote {
		max-width: 600px;
		margin: 0 auto;
		padding-left: 30px;
		padding-bottom: 0;
		margin-bottom: 1.8em;
		border-left: 2px solid $dark-blue;
		font-style: italic;
		color: $dark-grey;

		p {
			padding-bottom:  0;
		}
	}
}

.meta {
	padding: 20px 0;
	max-width: 600px;
	display: block;
	text-align: center;
	margin: 0 auto;
	font-family: $headline-font;
	font-size: 0.9em;
	a {
		color: $mid-grey;
		text-decoration: none;	
	}
	

	.date {
		a {
			transition: .5s;

			&:hover {
				transition: .5s;
				color: $grey;
			}
		}
	}

}

.pagination {
	font-family: $headline-font;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 40px;
	
	.nav-previous {
		float: right;
	}

	.nav-next {
		float: left;
	}

	a {
		text-decoration: none;
		border-bottom: 2px solid $mid-grey;
		/*border-radius: 4px;*/
		padding-bottom: 5px;
		color: $dark-grey;
		font-size: 1em;
		transition: .5s;

		&:hover {
			transition: .5s;
			border-bottom: 2px solid $grey;
		}
	}
}