.header-bg {
}

.header-content {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 20px;
	border-bottom: 1px solid $mid-grey;

}

.branding {
	text-align: center;
	list-style-type: none;
}

	.title {
		margin-top: 20px;
	}

.nav {
	text-align: center;
	list-style-type: none;
	margin-top: 40px;
	font-size: 1em;
	font-family: $headline-font;

	li a {
		color: $mid-grey;
		text-transform: uppercase;
		text-decoration: none;
		font-weight: 500;
		transition: .5s;


		&:hover {
			color: $grey;
			transition: .5s;
		}
	}
}

