.single-headline {
	padding: 10px;
	background-color: $dark-blue;
	color: $white;
	display: inline;
	margin-left: 7%;
}

.single-date {
	font-size: 0.8em;
	display: block;
	color: $dark-grey;
	max-width: 600px;
	margin: 10px auto 0px auto;
}