/**********
COLORS
**********/
$white: #ffffff;
$light-grey: #f8f8f8;
$bluish-grey: #d5d9dc;
$mid-grey: #ddd;
$grey: #888;
$dark-blue-lighten: #3a5269;
$dark-blue: #256C9B;
$dark-grey: #666666;
$blue-black: #151c23;
$black: #333333;


/**********
TYPOGRAPHY
**********/
$content-font:'Cabin', sans-serif;
$headline-font:'Arvo', serif;
$font-size: 18px;